[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-history-substring-search"]
	path = plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "plugins/cdc"]
	path = plugins/cdc
	url = https://github.com/evanthegrayt/cdc.git
[submodule "plugins/vb"]
	path = plugins/vb
	url = https://github.com/evanthegrayt/vagrant-box-switcher.git
[submodule "themes/grayt-zsh-theme"]
	path = themes/grayt-zsh-theme
	url = https://github.com/evanthegrayt/grayt-zsh-theme.git
[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "plugins/history-search-multi-word"]
	path = plugins/history-search-multi-word
	url = https://github.com/zdharma/history-search-multi-word.git
[submodule "plugins/omz-git"]
	path = plugins/omz-git
	url = https://github.com/tnwinc/omz-git.git
[submodule "plugins/bd"]
	path = plugins/bd
	url = git@github.com:Tarrasch/zsh-bd.git
